<root xmlns="urn:1">
  <paths>
    <path d3p1:loc="D:\Sp Test Copies" xmlns:d3p1="urn:1" />
  </paths>
  <filetypes>
    <filetype d3p1:name="MKV" d3p1:value="True" xmlns:d3p1="urn:1" />
    <filetype d3p1:name="AVI" d3p1:value="True" xmlns:d3p1="urn:1" />
    <filetype d3p1:name="MP4" d3p1:value="True" xmlns:d3p1="urn:1" />
  </filetypes>
</root>